Source: swayosd
Section: main
Priority: optional
Maintainer: ferrreo <harderthanfire@gmail.com>
Standards-Version: 4.6.1
Build-Depends: debhelper-compat (= 13),
               cargo,
               build-essential,
               libgdk-pixbuf-2.0-dev,
               libglib2.0-dev,
Rules-Requires-Root: no

Package: swayosd
Architecture: linux-any
Depends: ${misc:Depends}
Provides: swayosd
Description: simple wayland osd
